@font-face {
    font-family:savon ;
    src: url(SavonTRIAL-Italic.otf);



}* {
    box-sizing: border-box;
  }
   
  
    body {
        height: 100vh;
       padding: 0%;
        overflow: hidden;
        background: repeating-linear-gradient(
          to bottom,
          #ff01e6 0px,
          #ff01e6 82px,
          #ffffff 82px,
          #ffffff 164px
        );
        
      }


     


.button{
    height: 0px;
    width: 0px;
    font-family: savon;
    z-index: 2;
}
  
 img{
    max-width:200%;
  max-height:200%;
  opacity: 0.5 ;
 mix-blend-mode:  multiply;
 z-index: 1;


  }

  .typehere {
      align-items: center;
      color: black;

  }


  /*#btns {
     height: 80px;
     width: 30px;
     color: blue;
     flex-direction: row;

   


  }