* {
    box-sizing: border-box;
  }
   
  
  
  body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    
    
    overflow-x: hidden;
    
  background-color: blanchedalmond;
    background: linear-gradient(
        to bottom,
        #5d9634,
        #5d9634 50%,
        #538c2b 50%,
        #538c2b
      );
      /* The rectangle in which to repeat. 
         It can be fully wide in this case */
      background-size: 100% 0px;
  }
  
  img{
    max-width:120%;
  max-height:100%;
  }