* {
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  
  
  overflow-x: hidden;

  background-color: white;
 
}

body {
  height: 100vh;
 padding: 0%;
  overflow: hidden;
  background: repeating-linear-gradient(
    to bottom,
    #ff01e6 0px,
    #ff01e6 82px,
    #ffffff 82px,
    #ffffff 164px
  );
  
}

img{
  max-width:120%;
max-height:100%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}